/* Base Application Styles */
body {
  background: #222;
  color: #fff;
}

.index img {
  background: #fff;
  border-radius: 4px;
  display: block;
  margin: 40px auto;
}

.index .notice {
  background: #666;
  border: 1px solid #000;
  border-width: 1px 0;
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
}
.header {
  background-color: #cccccc;
  height: 50px;
}
.logo {
  font-size: 24px;
}
